{
 :tasks
 {app:test
  {:doc  "Runs all tests"
   :task (do
           (println "Running tests...")
           (shell "clojure -X:test"))}

  default
  {:doc     "Default task for go. Runs all checks and tests."
   :depends [library:test]}}}
